:root {
  --main: #e01d3f;
}

.App-header {
  display: flex;
  align-items: center;
  color: var(--main);
  font-size: 20px;
  border-bottom: 3px solid var(--main);
  width: 100%;
}

.App-header h1 {
  color: var(--main);
}

.App-body {
  margin-top: 50px;
  margin-left: 40px;
}

.App-body #email {
  margin-left: 10px;
  margin-right: 20px;
}

.App-body #password {
  margin-left: 10px;
  margin-right: 20px;
}

p {
  font-size: 19px;
}

.App-footer {
  position: fixed;
  bottom: 0;
  border-top: 3px solid var(--main);
  width: 100%;
  font-style: italic;
  display: flex;
  justify-content: center;
}
